* {
    margin: 0;
}

.App {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 920px;
}

.Link {
    position: relative;
    color: rgb(49, 15, 202);
    text-decoration: none;
    font-size: large;
    transition: 0.2s ease-in-out;
}

.Link:hover {
    top: -2px;
    color: rgb(123, 14, 150);
}

.navbar {
    padding-left: 700px;
}

.container {
    color: #505050;
    border-radius: 20px;
    background: #eee;
    padding: 100px;
    position: relative;
    top: 100px;
    display: flex;
    .text {
        border-radius: 30px;
        background: #aaa;
        padding: 40px;
    }
    .box {
        width: 700px;
        margin: 30px;
        .speed {
            padding: 20px;
        }
    }
}

.violetYellowBack {
    width: 100%;
    height: 92.5vh;
    position: absolute;
    color: rgb(198, 168, 255);
    margin-top: 70px;
    background: linear-gradient(45deg, rgb(255, 0, 255), yellow);
    .clock {
        background: linear-gradient(45deg, yellow, rgb(255, 0, 255));
    }
}

.orangeGreenBack {
    width: 100%;
    height: 92.5vh;
    position: absolute;
    color: rgb(255, 253, 107);
    margin-top: 70px;
    .clock {
        background: linear-gradient(45deg, rgb(38, 255, 0), #ff9d00);
    }
    background: linear-gradient(45deg, #ff9d00, rgb(27, 180, 0))
}

.redBlueBack {
    width: 100%;
    height: 92.5vh;
    position: absolute;
    color: rgb(216, 153, 253);
    margin-top: 70px;
    background: linear-gradient(45deg, blue, red);
    .clock {
        background: linear-gradient(45deg, blue, red);
    }
}

.Pomodoro {
    .session {
        text-align: center;
        position: relative;
        top: 10%;
        font-size: 60px;
    }
    .clock {
        border-radius: 50%;
        width: 500px;
        height: 500px;
        position: absolute;
        left: 37%;
        top: 240px;
        .boxClock {
            padding: 116px;
            .time {
                font-size: 120px;
                margin-bottom: 70px;
            }
            .start {
                padding-left: 54px;
                letter-spacing: 20px;
                cursor: pointer;
            }
        }
    }
    .cogwheel {
        width: 50px;
        position: absolute;
        bottom: 4.5%;
        left: 930px;
        transition: 0.3s all;
        cursor: pointer;
    }
    .cogwheel:hover {
        width: 55px;
    }
    .boxFon {
        width: 100%;
        height: 100%;
        background-color: #2727277a;
        position: absolute;
        top: 0;
        .boxTabl {
            width: 800px;
            height: 500px;
            border-radius: 30px;
            z-index: 1;
            background: #eee;
            color: #000;
            position: absolute;
            left: 550px;
            top: 250px;
            .head {
                border-bottom: 1px solid #50505067;
                padding: 20px 0 20px 60px;
                display: flex;
                justify-content: space-between;
                .btn-close {
                    padding: 20px 0 20px 60px;
                }
            }
            h4 {
                letter-spacing: 8px;
                font-size: 25px;
                font-weight: 700;
            }
            .firstBlock {
                width: 750px;
                padding: 20px 10px;
                margin: 0 20px;
                border-bottom: 1px solid #50505073;
                .scale {
                    margin: 0 19px;
                    color: rgb(139, 139, 139);
                    font-size: 15px;
                }
                .count {
                    padding: 5px 15px;
                    border-radius: 15px;
                    width: 90px;
                    background-color: #909090;
                    margin: 0 10px;
                }
            }
            .UpLeft {
                cursor: pointer;
                position: absolute;
                top: 190px;
                left: 95px;
            }
            .UpRight {
                cursor: pointer;
                position: absolute;
                top: 190px;
                left: 220px;
            }
            .DownLeft {
                cursor: pointer;
                position: absolute;
                top: 210px;
                left: 95px;
            }
            .DownRight {
                cursor: pointer;
                position: absolute;
                top: 210px;
                left: 220px;
            }
            .threeBlock {
                padding: 10px;
                border-bottom: 1px solid #50505073;
                margin: 30px;
                .colorBox {
                    position: relative;
                    top: -36px;
                    display: flex;
                    justify-content: right;
                    .redBlue {
                        cursor: pointer;
                        margin: 0 10px;
                        width: 35px;
                        height: 35px;
                        background: linear-gradient(45deg, blue, red);
                        border-radius: 50%;
                    }
                    .violetYellow {
                        cursor: pointer;
                        margin: 0 10px;
                        width: 35px;
                        height: 35px;
                        background: linear-gradient(45deg, rgb(255, 0, 255), yellow);
                        border-radius: 50%;
                    }
                    .orangeGreen {
                        cursor: pointer;
                        margin: 0 10px;
                        width: 35px;
                        height: 35px;
                        background: linear-gradient(45deg, #ff9d00, rgb(38, 255, 0));
                        border-radius: 50%;
                    }
                    .redBlue:active {
                        border: 3px solid rgb(226, 109, 255);
                    }
                    .violetYellow:active {
                        border: 3px solid rgb(255, 135, 135);
                    }
                    .orangeGreen:active {
                        border: 3px solid rgb(100, 255, 152);
                    }
                }
            }
        }
    }
}

.board img {
    width: 80px;
    margin: 48px;
}